*{margin:0;padding: 0;box-sizing: border-box;-webkit-tap-highlight-color:transparent}
html{font-size:10px; overflow-x:hidden;overflow-y:auto;}
body{font-size:1.6rem;color:#333;font-family: Helvetica,Arial,sans-serif;}
ul,li{list-style: none;}
a{text-decoration: none; color: #333;}
button{outline: none;border:none;color:#fff;background:#4984ef;cursor: pointer;}
button:hover{color:#fff;background:#316fe0;}
button[disabled]{cursor: not-allowed;}
.clear{clear: both;}
hr{background: #ddd;height: 1px;border:none;}

/*切换动画*/
/*左滑*/
.slide-left-leave-active, .slide-left-enter-active{
	transition:all .8s cubic-bezier(.55,0,.1,1);
}

.slide-left-leave-to {
	transform: translateX(-100%);
	/*opacity: 0;*/
}

.slide-left-enter {
	transform: translateX(100%);
	/*opacity: 0;*/
}

/*右滑*/
.slide-right-leave-active, .slide-right-enter-active{
	transition: all .8s cubic-bezier(.55,0,.1,1);
}

.slide-right-leave-to {
	transform: translateX(100%);
	/*opacity: 0;*/
}

.slide-right-enter {
	transform: translateX(-100%);
	/*opacity: 0;*/
}
/*淡入淡出*/
.fade-enter-active, .fade-leave-active{
	transition: all .8s ease;
}

.fade-enter, .fade-leave-to{
	opacity: 0;
}


/*删除商品*/
.list-leave-active,.list-enter-active{
	transition: all .8s cubic-bezier(.55,0,.1,1);
	position: absolute;
}

.list-leave-to{
	opacity: 0;
	transform:translateX(-20rem);	
}

.list-move{
	transition: transform .8s;
}